#section-about, #section-music {
    background: #202020;
}
.fancy-tag-container {
    user-select: none;
}
.fancy-tag-item {
    margin: 0 2px 2px 0;
    background-color: #202020;
    border-radius: 8px;
    height: auto;
    padding: 4px 8px 2px 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    -webkit-box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.1);
    position: relative;
    font-weight: bold;

    transition: 250ms border-color;

    display: inline-block;

    user-select: none;
}
.fancy-tag-item:hover {
    border-color: #4d4d4d;
}

.fancy-tag-link {
    color: white;
    text-decoration: none;
}

.fancy-tag-link::after {
    content: ' open_in_new';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    margin-bottom: 1px;
    margin-left: 3px;
    color: #aaaaaa;
}

#nooo {
    display: none;
    color: #3b3b3b;
}

#hkust:hover #nooo {
    display: inline;
}

hr {
    border-color: #626262;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    margin: 26px 0;
}

.about-img {
    width: 100%;
    border-radius: 8px;
}
