:root {
    --accent-color: #A30000;
    --secondary-color: #
}

/* #region Helper styles and defaults */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Arial, 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.8em;

    color: rgb(255, 255, 255);
    
    background-color: #2e2e2e;

    margin: 0;
    padding: 0;
}

.info-row-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-row-reversed {
    flex-direction: row-reverse;
}

.info-col {
    width: 100%;
    padding: 24px;
}

.info-row-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: stretch;

    flex-wrap: wrap;

    margin: 16px;
}

.info-row-grid>* {
    flex: 40%;
    margin: 8px !important;
}

.info-panel {
    margin: 0 0 8px 0;
    background-color: #202020;
    border-radius: 16px;
    padding: 16px 24px 16px 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    -webkit-box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.3);
    position: relative;

    transition: 250ms border-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-panel>img {
    max-height: 60px;
}

.info-panel-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.info-panel:hover {
    border-color: #4d4d4d;
}

.info-panel h3, .info-panel h2 {
    width: auto;
    margin: 8px 0 4px 0;
    position: relative;
    text-align: left;
    user-select: none;
}

.panel-link {
    font-size: 20px;
    user-select: none;
}

.info-panel-link:hover .panel-link-text {
    text-decoration: underline;
}
.panel-link>.panel-link-text {
    font-weight: bold;
}

.panel-link>.panel-link-arrow {
    display: inline-block;

    font-weight: 900;
    color: var(--accent-color);
    text-decoration: none !important;

    transition: 250ms transform;
}

.info-panel-link:hover .panel-link-arrow {
    transform: translateX(3px);
}

h1,
h2,
h3,
h4 {
    line-height: 1.2em;
    font-weight: bold;
}

.red-color {
    color: #f85757;
}

.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section {
    padding: 0 20%;
    overflow: auto;
}

.section-content {
    margin: 60px 0
}

.width-wrapper {
    margin: 60px auto 30px auto;
    max-width: 765px;
}

.horizontal-row * {
    display: inline-block;
}

.card-inner-padding {
    margin: 16px 24px;
    transition: margin 100ms ease;
}

.card-inner-padding:hover {
    margin: 10px 18px 22px 30px;
}

.card-animation-wrapper {
    overflow: auto;
}

.standard-width {
    margin: 0px calc(100vw - 85%)
}

.linkfix {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.linkfix-white {
    color: rgb(255, 255, 255);   
}

.children-inline * {
    display: inline-block;
}

/* #endregion */

/* #region text stlyes */

/* #region element styles */

.light-button {
    font: 24px "Roboto Mono", 'Consolas', 'Courier New', Courier, monospace;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: 200ms color, 200ms background-color;
    padding: 8px;
    cursor: pointer;
    ;
}

.light-button:hover {
    background-color: white;
    color: var(--accent-color);
}

/* #endregion */

.light-text {
    color: white;
}

.large-monospace {
    font-family: "Roboto Mono", 'Consolas', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 36px;
}

.small-monospace {
    font-family: "Roboto Mono", 'Consolas', 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

/* #endregion */

/* mobile nav bar */

#hamburger-wrapper {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 9px 0 0 16px;

    align-items: center;
    justify-content: center;
}

.hamburger-line {
    background-color: #ffffff;
    height: 2px;
    border-radius: 2px;
    width: 100%;
    position: absolute;
    transform-origin: center center;

    transition: top 300ms ease, bottom 300ms ease, transform 300ms ease;

    animation-timing-function: ease;
    animation-duration: 500ms;
}

@keyframes topline-in {
    0% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(45deg) translateY(0);
    }
}
@keyframes botline-in {
    0% {
        transform: translateY(5px);
    }
    40% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(-45deg) translateY(0);
    }
}

@keyframes topline-out {
    0% {
        transform: rotate(45deg) translateY(0);
    }
    60% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-5px);
    }
}
@keyframes botline-out {
    0% {
        transform: rotate(-45deg) translateY(0);
    }
    60% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(5px);
    }
}

.hamburger-line-top {
    transform: translateY(-5px);
}

.hamburger-line-bottom {
    transform: translateY(5px);
}

.hamburger-line-top-inactive {
    animation-name: topline-out;
}

.hamburger-line-bottom-inactive {
    animation-name: botline-out;
}


.hamburger-line-top-active {
    transform: rotate(45deg) translateY(0);
    animation-name: topline-in;
}

.hamburger-line-bottom-active {
    transform: rotate(-45deg) translateY(0);
    animation-name: botline-in;
}


/* #region navigation */

.navigation {

    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 24px);
    height: 42px;
    margin: 12px;

    z-index: 1000;

    text-align: center;

    border-width: 1px;
    border-color: transparent;

    transition: 400ms height, 250ms opacity;
}

.navigation-background {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #313131;

    z-index: 999;


    -webkit-box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 32px 5px rgba(0,0,0,0.3);

    background-color: rgba(29, 29, 29, 0.904);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);

}

.navigation-list {
    list-style-type: none;
    margin: 8px 0;
    padding: 0;
    display: inline-block;

    max-width: calc(100% - 60px);

    vertical-align: top;
}

.navigation-list li {
    float: left;
    font-size: 24px;
    margin: -1px 7px 0 0;
}


.navigation-list li a {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Arial, 'Helvetica Neue', sans-serif;
    font-weight: bold;

    float: left;
    font-size: 20px;
    margin: 0px 12px;
    color: #8a8a8a;
    position: relative;

    transition: color 150ms, opacity 400ms ease, height 350ms cubic-bezier(.3, 0, .3, 1);
}

.noselect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation-list li a:hover,
.navigation-selected {
    z-index: 5;
    color: #ffffff !important;
}

.btn-design {
    font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}


.btn-emphasis {
    background-color: #A3000A;
    color: white;
    border-style: none;
    transition: background-color 150ms;
    -webkit-transition: background-color 150ms;
    font-weight: bold;
}

.btn-emphasis:hover {
    background-color: #a32931;
}

.btn-light {
    background-color: transparent;
    color: #727272;
    border-style: none;
    transition: color 150ms;
    -webkit-transition: color 150ms;
}

.btn-light:hover {
    color: #222222;
}

.indented-link {
    display: inline-block;
    border-radius: 8px;
    border-style: none;
    background-color: transparent;
    color: rgb(156, 156, 156);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    padding: 6px;

    transition: 100ms background-color, 100ms color;

    font-size: 1.1em;
}

.back-link {
    position: absolute;
    top: 72px;
    transform: translateX(14px);
}

.indented-link:hover {
    background-color: #ffffff10;
    color: rgb(231, 231, 231);
}

/* Source: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
.navigation-list li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 2px;
    border-radius: 2px;
    left: 0;
    background-color: #a30000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 350ms cubic-bezier(.2,1.46,.65,1.01);
}

.navigation-list li a:hover::before,
.navigation-selected::before {
    visibility: visible !important;
    transform: scaleX(1) !important;
}

/* #endregion */

#footer {
    height: 300px;
    text-align: center;
    background-color: #0e0e0e;
    overflow: hidden;
}

#copyright {
    margin-top: 78px;
}

#navbar-pad {
    height: 60px;
}
/* NAVBAR MAX WIDTH */


@media (max-width: 700px) {

    .navigation::after {
        height: 1px;
        background-color: #dfdfdf;
    }

    .navigation {
        text-align: left;
    }

    #hamburger-wrapper {
        display: inline-flex;
    }

    .navigation-list {
        margin: 8px 0;
    }

    /* hide underline */
    .navigation-list li a::before {
        display: none;
    }

    :not(.navigation-selected).navigation-list li a {
        pointer-events: none;
        height: 0;
        opacity: 0;

    }

    .navigation-item-peek {
        pointer-events: auto !important;
        height: 32px !important;
        opacity: 1 !important;
    }

    .navigation-selected {
        pointer-events: auto !important;
        height: 0;
        opacity: 1 !important;
    }

    .navigation-list li {
        float: none;
    }

    .navigation-list li a:hover {
        color: #00000075;
    }

    .navigation-open {
        height: calc(100% - 24px);
    }
}

/* FONT AWESOME */
.fa {
    padding: 20px;
    font-size: 32px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

    transition: 200ms opacity;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}


/* MOBILE */

@media (min-width: 901px) {
    .mobileonly {
        display: none !important;
    }
}

@media (max-width: 900px) {

    body {
        font-size: 16px;
    }

    .large-monospace {
        font-size: 8vw;
    }

    .section {
        padding: 0px calc(100vw - 95%);
    }

    .standard-width {
        margin: 0px calc(100vw - 95%)
    }

    .section-content {
        margin: 8px 0;
    }

    .info-row-flex {
        flex-direction: column;
    }

    .info-row-reversed {
        flex-direction: column;
    }


    .info-col {
        padding: 12px 0px;
    }

    .info-row-grid {
        margin: 0;
    }
    .info-row-grid>* {
        flex: 100%;
    }

    .back-link {
        position: relative;
        top: 10px;
        transform: translateX(-8px);
    }
}

@media (max-width: 1400px) {
    .section {
        padding: 0px calc(100vw - 90%);
    }
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #1a1a1a;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77);
    border-radius: 8px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
}