/* #region layout */

#cover {
    height: 100vh;
}

#projects{
    height: auto;
    background: #ff4545;
}

#skills {
    height: 80vh;
}

#contact {
    background: var(--accent-color);
    height: 80vh;
}

/* #endregion */

/* #region cover */

#cover-page-item1 {
    margin-top: 128px;
}

.cover-intro {
    font-size: 70px;
    line-height: 80px;
}

.cover-intro-large {
    font-weight: bold;
    font-size: 100px;
    line-height: 110px;

    margin-left: 6vw;
    color: var(--accent-color);
}

/* #endregion */

/* #region projects */

.project-wrapper {
    margin-top: 16px;
    width: 100%;
    overflow: auto;

    background-color: rgba(255, 255, 255, 0.2);

    opacity: inherit;
}

.project-wrapper img {
    display: inline-block;
    max-height: 256px;
    margin: 0px 16px 0 0;
    max-width: 100%;
}

/* #endregion */

@media (max-width: 1100px) {

    .cover-intro {

        font-size: 50px;
        line-height: 60px;
    }
    
    .cover-intro-large {
        font-size: 80px;
        line-height: 90px;
    }

}

@media (max-width: 600px) {

    .cover-intro {

        font-size: 8vw;
        line-height: 8.5vw;
    }
    
    .cover-intro-large {
        font-size: 14.5vw;
        line-height: 15vw;
    }

}