/* #region layout */

#cover {
    height: 100vh;
}

#projects{
    height: auto;
    background: #ff4545;
}

#skills {
    height: auto;
}

#contact {
    background: var(--accent-color);
    height: 80vh;
}

/* #endregion */

/* #region cover */

#name-container {
    z-index: 3;
}

#cover-page-item1 {
    margin-top: 128px;
}

.cover-intro {
    font-size: 70px;
    line-height: 80px;
}

.cover-intro-large {
    font-weight: bold;
    font-size: 100px;
    line-height: 110px;

    margin-left: 6vw;
    color: var(--accent-color);
}

/* #endregion */

/* #region svg */

#emblem-container {
    max-width: 90vw;
    max-height: 90vw;
    width: 600px;
    height: 600px;
    z-index: 1;

    right: 5vw;

    overflow: visible;
}

#mn-svg {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;

    overflow: visible;
}

#mn-svg path {
    fill: #f1f1f1;
    transition: transform 200ms ease-in-out, opacity 500ms, fill 200ms;
}


#emblem-container:hover #emblemM {
    transform: translate(-1%, -2.5%);
    fill: #f85757;
}

#emblem-container:hover #emblemMid {
    fill: #f87d57;
}


#emblem-container:hover #emblemN {
    transform: translate(1%, 2.5%);
    fill: #f8c057;
}

#emblemM {
    animation-name: M-in;
    animation-duration: 0.5s;
}

#emblemMid {
    animation-name: Mid-in;
    animation-duration: 0.5s;
}

#emblemN {
    animation-name: N-in;
    animation-duration: 0.5s;
}

@keyframes M-in {
    from {
        transform: translate(7.9%, 19%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes Mid-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes N-in {
    from {
        transform: translate(-7.9%, -19%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* #endregion */

/* #region projects */

.card-wrapper {
    margin-top: 16px;
    width: 100%;
    overflow: auto;

    background-color: rgba(255, 255, 255, 0.2);

    opacity: inherit;
}

.card-wrapper img {
    display: inline-block;
    max-height: 256px;
    margin: 0px 16px 0 0;
    max-width: 100%;
}

/* #endregion */

@media (max-width: 1100px) {

    .cover-intro {

        font-size: 50px;
        line-height: 60px;
    }
    
    .cover-intro-large {
        font-size: 80px;
        line-height: 90px;
    }

}

@media (max-width: 600px) {

    .cover-intro {

        font-size: 8vw;
        line-height: 8.5vw;
    }
    
    .cover-intro-large {
        font-size: 14.5vw;
        line-height: 15vw;
    }

}