/* #region layout */

html[data-scroll="30"] .navigation-background {
    opacity: 0;
}

#cover {
    height: 100vh;
    position: relative;
}

#about {
    height: auto;
    background: #202020;

    overflow: hidden;
}

#about h1 {
    font-size: 44px;
}

#about1 {
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    padding: 16px;
    text-align: left;
}


#projects {
    height: auto;
}

#skills {
    height: auto;
}

#contact {
    background: #252525;
    height: auto;
    text-align: center;
}

/* #endregion */

@keyframes animate-in-first {
    0% {
        transform: translateY(130px);
        clip-path: inset(-50px 0 90px 0);
    }
    100% {
        transform: translateY(0);
        clip-path: inset(-50px 0 -40px 0);
    }
}

@keyframes animate-in-last {
    0% {
        transform: translateY(-130px);
        clip-path: inset(88px 0 -80px 0);
    }
    100% {
        transform: translateY(0);
        clip-path: inset(-42px 0 -80px 0);
    }
}

@keyframes animate-in-sep {
    0% {
        left: 255px;
        width: 0px;
    }
    100% {
        left: 120px;
        width: 270px;
    }
}

@keyframes animate-in-sep-alt {
    0% {
        left: 34.2428571429vw;
        width: 0;
    }
    100% {

    }
}


#name-container {
    z-index: 3;
}

.name-item {
    position: absolute;
    font-size: 150px;
    font-weight: 900;
    user-select: none;
    
    text-shadow: 4px 4px 40px rgba(0, 0, 0, 0.436);
}
#name-first {
    color: #f85757;
    top: -50px;
    animation: animate-in-first;
    animation-duration: 600ms;
}
#name-second {
    color: #f8c057;
    top: 90px;
    left: 350px;
    animation: animate-in-last;
    animation-duration: 600ms;
}
#name-sep {
    background-color: #f87d57;
    height: 4px;
    width: 270px;
    top: 30px;
    left: 120px;
    border-radius: 2px;

    animation: animate-in-sep;
    animation-duration: 600ms;

    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.436);
}

/* #endregion */

/* #region svg */

#emblem-container {
    max-width: 90vw;
    max-height: 90vw;
    width: 600px;
    height: 600px;
    z-index: 1;
    right: 0;
    overflow: visible;
    padding: inherit;
}

#mn-svg {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;

    overflow: visible;
}

#mn-svg path {
    fill: #474747;
    transition: transform 200ms ease-in-out, opacity 500ms, fill 200ms;
}


#emblem-container:hover #emblemM {
    transform: translate(-1%, -2.5%);
    fill: #f85757;
}

#emblem-container:hover #emblemMid {
    fill: #f87d57;
}


#emblem-container:hover #emblemN {
    transform: translate(1%, 2.5%);
    fill: #f8c057;
}

#emblemM {
    -webkit-animation-name: M-in;
            animation-name: M-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

#emblemMid {
    -webkit-animation-name: Mid-in;
            animation-name: Mid-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

#emblemN {
    -webkit-animation-name: N-in;
            animation-name: N-in;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
}

@-webkit-keyframes M-in {
    from {
        transform: translate(7.9%, 19%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes M-in {
    from {
        transform: translate(7.9%, 19%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes Mid-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Mid-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes N-in {
    from {
        transform: translate(-7.9%, -19%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes N-in {
    from {
        transform: translate(-7.9%, -19%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* #endregion */

@media (max-width: 1100px) {

    .cover-intro {

        font-size: 50px;
        line-height: 60px;
    }

    .cover-intro-large {
        font-size: 80px;
        line-height: 90px;
    }

}

@media (max-width: 900px) {
    .name-item {
        position: absolute;
        font-size: 20vw;
        font-weight: 900;
        user-select: none;
    }
    #name-first {
        top: -6vw;
    }
    #name-second {
        top: 14vw;
        left: 47vw;
    }
    #name-sep {
        height: 4px;
        width: 36.25vw;
        top: calc(4.02857142857vw + 12px);
        left: 16.11vw;
        border-radius: 2px;
    
        animation: animate-in-sep-alt;
        animation-duration: 600ms;
    }
    #emblem-container {
        right: 0;
    }
}

/* #region contact */

#email-container {
    border-radius: 16px;
    background-color: #2b2b2b;
    font-weight: bold;
    width: 250px;
    font-size: 16px;
    line-height: 32px;
    overflow: auto; 

    margin: 0 auto;
}

#email-container * {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* #endregion */

/* #region moved model dialog */
body .modal {
    display: none;
}

.modal-show  {
    overflow: hidden;
}

.modal-show .modal {
    display: block !important;
    opacity: 1 !important;
}

.modal-dialog { 
    position: fixed;
    z-index: 1001;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: auto;
    background-color: rgba(255,255,255,0.8);
    border-radius: 16px;
    box-shadow: 0px 3px 36px 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(20px) saturate(120%) brightness(150%);
    -webkit-backdrop-filter: blur(20px) saturate(120%) brightness(150%);

    padding: 24px 48px 50px 48px;

    user-select: none;

    transition: top 200ms, opacity 200ms;
}

#modal-domain-title {
    transition: 100ms opacity;
    -webkit-transition: 100ms opacity;
}

.red {
    color: #A3000A;
}

.modal-dialog > h1 {
    font-size: 56px;
}

.modal-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.55);

    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}


.modal-start.modal-dialog {
    top: 48% !important;
    opacity: 0% !important;
}

.modal-start.modal-background {
    opacity: 0% !important;
}

@media (max-width: 700px) {
    .modal-dialog { 
        width: calc(90% - 96px);
    }
    .modal-dialog > h1 {
        font-size: 36px;
    }
}

/* #endregion */